:root:not(.theme-dark) {
  --tv-color-platform-background: #d1c4e9;
  --tv-color-pane-background: rgb(251, 223, 244);
  --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
  --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
  --tv-color-toolbar-button-background-active: rgb(249, 185, 233);
  --tv-color-toolbar-button-background-active-hover: rgb(244, 143, 177);
  --tv-color-toolbar-button-text: rgb(136, 24, 79);
  --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
  --tv-color-toolbar-button-text-active: red;
  --tv-color-toolbar-button-text-active-hover: red;
  --tv-color-item-active-text: rgb(6, 6, 255);
  --tv-color-toolbar-toggle-button-background-active: red;
  --tv-color-toolbar-toggle-button-background-active-hover: magenta;
  --tv-color-toolbar-divider-background: rgb(251, 223, 244);
  --tv-color-toolbar-save-layout-loader: rgb(106, 109, 120);

  --tv-color-popup-background: rgb(241, 188, 225);
  --tv-color-popup-element-text: rgb(136, 24, 79);
  --tv-color-popup-element-text-hover: rgb(74, 20, 140);
  --tv-color-popup-element-background-hover: rgb(244, 143, 177);
  --tv-color-popup-element-divider-background: rgb(251, 223, 244);
  --tv-color-popup-element-secondary-text: rgb(74, 20, 140);
  /* --tv-color-popup-element-hint-text: rgb(74, 20, 140); */
  --tv-color-popup-element-text-active: rgb(6, 6, 255);
  --tv-color-popup-element-background-active: red;
  --tv-color-popup-element-toolbox-text: rgb(136, 24, 79);
  --tv-color-popup-element-toolbox-text-hover: rgb(74, 20, 140);
  --tv-color-popup-element-toolbox-text-active-hover: rgb(74, 20, 140);
  --tv-color-popup-element-toolbox-background-hover: rgb(222, 89, 132);
  --tv-color-popup-element-toolbox-background-active-hover: magenta;
}

.theme-dark:root {
  --tv-color-platform-background: rgba(10, 12, 39, 1);
  --tv-color-pane-background: rgba(10, 12, 39, 1);
  --tv-color-toolbar-button-background-hover: #2a2e39;
  --tv-color-toolbar-button-background-expanded: transparent;
  --tv-color-toolbar-button-background-active: rgba(255, 255, 255, 1);
  --tv-color-toolbar-button-background-active-hover: red;
  --tv-color-toolbar-button-text: rgba(118, 119, 131, 1);
  --tv-color-toolbar-button-text-hover: rgba(255, 255, 255, 1);
  --tv-color-toolbar-button-text-active: rgba(255, 255, 255, 1);
  --tv-color-toolbar-button-text-active-hover: rgba(255, 255, 255, 1);
  --tv-color-item-active-text: rgb(6, 255, 6);

  --tv-color-toolbar-toggle-button-background: #2a2e39;
  --tv-color-toolbar-toggle-button-background-active: #2a2e39;
  --tv-color-toolbar-toggle-button-background-active-hover: white;
  --tv-color-toolbar-divider-background: #2a2e39;
  --tv-color-toolbar-save-layout-loader: rgb(134, 137, 147);
  --tv-color-popup-background: rgba(10, 12, 39, 1);
  --tv-color-popup-element-text: rgba(118, 119, 131, 1);
  --tv-color-popup-element-text-hover: rgba(255, 255, 255, 1);
  --tv-color-popup-element-background-hover: #2a2e39;
  --tv-color-popup-element-divider-background: #2a2e39;
  --tv-color-popup-element-secondary-text: rgb(99, 99, 99);
  --tv-color-popup-element-hint-text: rgb(99, 99, 99);
  --tv-color-popup-element-text-active: rgba(255, 255, 255, 1);
  --tv-color-popup-element-background-active: #2a2e39;
  --tv-color-popup-element-toolbox-text: white;
  --tv-color-popup-element-toolbox-text-active: rgba(118, 119, 131, 1);
  --tv-color-popup-element-toolbox-text-active-hover: white;
  --tv-color-popup-element-toolbox-text-hover: white;
  --tv-color-popup-element-toolbox-background-hover: rgba(118, 119, 131, 1);
  --tv-color-popup-element-toolbox-background-active-hover: rgba(118, 119, 131, 1);

  --themed-color-tooltip-wizard-bg: rgba(10, 12, 39, 1);

  /* --themed-color-control-intent-default: rgba(10, 12, 39, 1); */
  --themed-color-control-highlight-intent-primary: #eed94c;
  --themed-color-control-intent-primary: #eed94c;

  --themed-color-bg-primary: rgba(10, 12, 39, 1);

  --themed-color-btn-black-secondary-active-bg: #eed94c;
  --themed-color-btn-black-secondary-active-border: #eed94c;
  --themed-color-btn-black-secondary-default-content: #eed94c;
  --themed-color-btn-black-secondary-default-border: #eed94c;
  --themed-color-btn-black-secondary-hover-bg: #eed94c;
  --themed-color-btn-black-secondary-hover-border: #eed94c;
  --themed-color-btn-black-primary-default-bg: #eed94c;
  --themed-color-btn-black-primary-default-border: #eed94c;
  --themed-color-btn-black-primary-hover-bg: #eed94c;
  --themed-color-btn-black-primary-hover-border: #eed94c;
  --themed-color-btn-black-primary-active-bg: #eed94c;
  --themed-color-btn-black-primary-active-border: #eed94c;

  --themed-color-container-fill-primary-neutral-extra-bold: #eed94c;
  --themed-color-container-fill-primary-neutral-bold: #eed94c;
  --themed-color-container-fill-primary-neutral-medium: #eed94c;

  --ui-lib-checkboxView-color: #eed94c;
}
