/* Component-level styles for the UI package */
@import 'tailwindcss';
@import '@mullet/tailwind-config';

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-blue1);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #f4f4f4;
  --secondary-foreground: #686868;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 8px;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme {
  --font-weight-regular: regular;
  --font-weight-medium: medium;
  --font-weight-semibold: semibold;

  --font-size-xs: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 32px;

  --leading-xs: 16px;
  --leading-small: 20px;
  --leading-medium: 24px;
  --leading-large: 28px;
  --leading-xl: 32px;
  --leading-2xl: 36px;
  --leading-3xl: 40px;

  --size: 4px;

  --spacing: var(--size);
  --spacing-xs: calc(var(--size) * 1);
  --spacing-small: calc(var(--size) * 1.5);
  --spacing-medium: calc(var(--size) * 2);
  --spacing-large: calc(var(--size) * 2.5);
  --spacing-xl: calc(var(--size) * 3);
  --spacing-2xl: calc(var(--size) * 4);
  --spacing-3xl: calc(var(--size) * 6);
  --spacing-4xl: calc(var(--size) * 8);

  --radius-xs: calc(var(--spacing) * 1);
  --radius-small: calc(var(--spacing) * 2);
  --radius-medium: calc(var(--spacing) * 3);
  --radius-large: calc(var(--spacing) * 4);
  --radius-xl: calc(var(--spacing) * 8);

  --color-trade-buy: var(--color-green-500);
  --color-trade-sell: var(--color-red-500);

  --color-market-rise: var(--color-trade-buy);
  --color-market-fall: var(--color-trade-sell);
}

@theme inline {
  --text-color-content-1: var(--color-white);
  --text-color-content-2: var(--color-zinc-50);
  --text-color-content-3: var(--color-zinc-100);
  --text-color-content-4: var(--color-zinc-200);
  --text-color-content-5: var(--color-zinc-300);
  --text-color-content-6: var(--color-zinc-400);
  --text-color-content-foreground: var(--color-zinc-800);

  --background-color-primary: var(--color-zinc-500);
  --background-color-secondary: var(--color-zinc-800);
  --background-color-move-in: --alpha(var(--color-zinc-300) / 0.1);
  --background-color-button: --alpha(var(--color-zinc-300) / 0.2);
  --background-color-button-box: --alpha(var(--color-zinc-300) / 0.4);
  --background-color-card: --alpha(var(--color-zinc-800) / 0.5);
  --background-color-navigation: --alpha(var(--color-zinc-800) / 0.8);
  --background-color-pop-up-mask: --alpha(var(--color-zinc-800) / 0.9);

  --border-color-zinc-xs: --alpha(var(--color-zinc-300) / 0.2);
  --border-color-zinc-base: --alpha(var(--color-zinc-300) / 0.4);
  --border-color-zinc-large: var(--color-zinc-300);

  --border-color-white-base: var(--color-white);

  --border-color-yellow-base: var(--color-brand-primary);

  --border-color-orange-base: var(--color-orange-500);

  --color-status-success: var(--color-green-500);
  --color-status-warning: var(--color-yellow-500);
  --color-status-danger: var(--color-red-500);

  --color-brand-primary: var(--color-yellow-500);
  --color-brand-secondary: var(--color-blue-500);

  --text-title-h1: 32px;
  --text-title-h1--line-height: var(--leading-2xl);
  --text-title-h1--font-weight: var(--font-weight-semibold);

  --text-title-h2: 28px;
  --text-title-h2--line-height: var(--leading-1xl);
  --text-title-h2--font-weight: var(--font-weight-semibold);

  --text-title-h3: 24px;
  --text-title-h3--line-height: var(--leading-large);
  --text-title-h3--font-weight: var(--font-weight-semibold);

  --text-paragraph-p1: 16px;
  --text-paragraph-p1--line-height: var(--leading-medium);
  --text-paragraph-p1--font-weight: var(--font-weight-regular);

  --text-paragraph-p2: 14px;
  --text-paragraph-p2--line-height: var(--leading-small);
  --text-paragraph-p2--font-weight: var(--font-weight-regular);

  --text-paragraph-p3: 12px;
  --text-paragraph-p3--line-height: var(--leading-xs);
  --text-paragraph-p2--font-weight: var(--font-weight-regular);

  --text-important-1: var(--font-size-medium);
  --text-important-1--line-height: var(--leading-small);
  --text-important-1--font-weight: var(--font-weight-semibold);

  --text-important-2: 14px;
  --text-important-2--line-height: var(--leading-xs);
  --text-important-2--font-weight: var(--font-weight-semibold);

  --text-button-1: 12px;
  --text-button-1--line-height: var(--leading-xs);
  --text-button-1--font-weight: var(--font-weight-medium);

  --text-button-2: 14px;
  --text-button-2--line-height: var(--leading-xs);
  --text-button-2--font-weight: var(--font-weight-medium);

  --text-clickable-1: var(--font-size-xs);
  --text-clickable-1--line-height: var(--leading-xs);
  /* --text-text-clickable-1--font-weight: var(--font-weight-medium); */

  --shadow-base: 0 4px 4px 0 --alpha(var(--color-black) / 10%);

  --inset-shadow-base: 0 2px 4px 0 --alpha(var(--color-black) / 50%);

  --blur-base: calc(var(--size) * 3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-blue1: #214ff6;
  --color-blue2: #214ff6;
  --color-blue3: #004aad;
  --color-blue-light: #578bfa;

  --color-button-highlight: #f9f9f9;
  --color-button-selection: #f4f4f4;
  --color-button-hover: #eee;

  --color-green: #27ac75;
  --color-red: #f0616d;
  --color-black: #000;

  --color-block10: #f0f0f0;

  --color-gray: #686868;

  --animate-border-beam: border-beam calc(var(--duration) * 1s) infinite linear;

  @keyframes border-beam {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply items-center justify-center;
  }

  .font-sans {
    font-family: var(--font-inter), 'PingFang SC', 'Microsoft YaHei', var(--font-sans);
  }
}
